<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Spreadsheet</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="loader"> <img src="../static/image/tree-spinner.gif"></div>
        {% extends "fragments/navbar.html" %}
        {% block content %}
        <div class="container" style="justify-content: center; display: grid;">
         <div class="formCard card">
            <div class="card-header text-center cardHeader">Form</div>
            <div style="background-color: rgba(255,255,255,0)" class="card-body">
               <table class="table table-striped">
                  <tbody>
                     <tr align="center">
                        <td>
                           <form class="well form-horizontal" action="date_validation" method = "POST" enctype = "multipart/form-data">
                              <fieldset>
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">Select the date column</label>
                                    <div class="col-md-8 inputGroupContainer">
                                       <div class="input-group">
                                           <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-home"></i>
                                           </span>
                                           <select class="custom-select" id="latitude" name="column_date">
                                            <option>Select...</option>
                                           </select>
                                       </div>
                                    </div>
                                 </div>
                                  <div class="form-group">
                                    <label class="col-md-4 control-label">Select the current format</label>
                                    <div class="col-md-8 inputGroupContainer">
                                       <div class="input-group">
                                           <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-home"></i>
                                           </span>
                                           <select class="custom-select"  name="current_format">
                                               <option>Select...</option>
                                               <option>DDMMAAAA</option>
                                               <option>MMDDAAAA</option>
                                           </select>
                                       </div>
                                    </div>
                                 </div>
                                <div >
                                    <label class="col-md-4 control-label">Select the new format</label>
                                    <table>
                                        <tr>
                                            <td style="text-align: center">
                                                <label class="form-check-label" >
                                                        Format
                                                </label>
                                            </td>
                                            <td style="text-align: center">
                                                <label class="form-check-label">
                                                        Example
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input id="Decimal" class="form-check-input" type="radio" name="type" value="dd/mm/aaaa" checked>
                                                    <label class="form-check-label">
                                                        dd/mm/aaaa
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                20/07/2020
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input id="DM" class="form-check-input" type="radio" name="type" value="mm/dd/aaaa">
                                                    <label class="form-check-label" >
                                                        mm/dd/aaaa
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                07/20/2020
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input  class="form-check-input" type="radio" name="type" value="aaaa/mm/dd">
                                                    <label class="form-check-label">
                                                        aaaa/mm/dd
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                2012/07/20
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input  class="form-check-input" type="radio" name="type" value="dd-mm-aaaa">
                                                    <label class="form-check-label">
                                                        dd-mm-aaaa
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                20-07-2020
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input  class="form-check-input" type="radio" name="type" value="mm-dd-aaaa">
                                                    <label class="form-check-label">
                                                        mm-dd-aaaa
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                07-20-2012
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input  class="form-check-input" type="radio" name="type" value="aaaa-mm-dd">
                                                    <label class="form-check-label">
                                                        aaaa-mm-dd
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                2012-07-20
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                              </fieldset>
                               <div class="card-footer">
                                  <div align="center" class="container">
                                    <input type="submit" id="submit" value="Start Verification" class="btn btn-success btn-lg btn-block"/>
                                  </div>
                               </div>
                           </form>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/events/loading.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            var titles = "{{titles}}";
            titles = titles.replace(/&#39;/g,'"');
            titles = JSON.parse(titles)

            var cookies = "{{cookies}}"

            var select_latitude = document.getElementById("latitude");
            console.log(titles)
            AssigningTitles()
            if(cookies != null){
               Auto_Selected_Using_Cookie()
            }
            function AssigningTitles(){
                for (title of titles){
                    new_option3 = document.createElement("option");
                    new_option3.innerHTML = title;
                    select_latitude.appendChild(new_option3);
                }
            }
            function Selected(){
               if(this.id in coordinates){
                  coordinates[this.id] = this.value;
                  var formated_coordinate = JSON.stringify(coordinates);
                  var input_text1 = document.getElementById("selection_coordinate");
                  input_text1.value = formated_coordinate;
               }
            }
            function Auto_Selected_Using_Cookie(){
               for (value=1; value < select_latitude.options.length; value++){
                  if(select_latitude[value].label == cookies){
                     select_latitude.selectedIndex = value
                     coordinates.latitude = cookies
                  }
               }
            }

            select_latitude.addEventListener("change", Selected);
        </script>
        {% endblock %}
    </body>
</html>