/.vscode/
/venv/
/OficialEnv/
/.idea/
/NovaEnv/
/controller/__pycache__/
/model/__pycache__/
/api marcos/
/googlemaps_api_key/
/googlemaps_api_key.txt/
/api marcos.txt
/files/
/TESTE
/sda.py
googlemaps_api_key.txt
